/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;

}

nav>ul{
	list-style: none;
}

/* , - multiple selectors; used to select multiple selectors with different type/class/id names*/
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}
/*INTRO SECTION*/


#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: whitesmoke;
	/*font-weight - declares the thickness of the text*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	/*percentage value in width means that the element will occupy the 30% of the viewport width*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*min-height - sets the minimum height for the element specially if the content does not reach the target height*/
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

/*Pre-footer SECTION*/

#pre-footer{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: darkblue;
	color: whitesmoke;
}


#pre-footer>div{
	
	display: inline-block;
	vertical-align: top;
	/*percentage value in width means that the element will occupy the 30% of the viewport width*/
	width: 22%;
	padding: 15px;
	text-align: left;
	letter-spacing: 3px;
	
}

#pre-footer div{
	line-height: 2rem;
}

#pre-footer h3:hover{
	background-color: gray;

}

#pre-footer p:hover{
	background-color: black;

}
footer{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px ;
	word-spacing: 3px;
	}